@font-face {
    font-family: '马山正';
    src: url('./MaShanZheng-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '新华凌威';
    src: url('./Aa新华凌威体.ttf');
}
@font-face {
    font-family: '青鸟华光';
    src: url('./QingNiaoHuaGuangJianMeiHei-2.ttf');
}
@font-face {
    font-family: '阿里妈妈东方大楷';
    src: url('./AlimamaDongFangDaKai-Regular.ttf');
}